<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fable Project</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Fable Games</h1>
            <nav>
                <a href="#">Loja</a>
                <a href="#">Biblioteca</a>
                <a href="#">Comunidade</a>
                <a href="#">Suporte</a>
            </nav>
        </div>
    </header>

    <main>
        <section class="game-gallery">
            <div class="game-card">
                <img src="static/imagens/bombapatch.jpg" alt="Jogo Bomba Patch 2025" height="250">
                <h2>Bomba Patch 2025</h2>
                <p class="price">R$299,90</p>
            </div>
            <div class="game-card">
                <img src="static/imagens/f1.jpg" alt="Jogo Fórmula 1 2022" height="255">
                <h2>Fórmula 1 2022</h2>
                <p class="price">R$179,90</p>
            </div>
            <div class="game-card">
                <img src="static/imagens/fifastreet.jpg" alt="Jogo Fifa Street" height="255">
                <h2>Fifa Street</h2>
                <p class="price">R$79,90</p>
            </div>
            <div class="game-card">
                <img src="static/imagens/forza.jpg" alt="Jogo Forza Horizon 5" height="255">
                <h2>Forza Horizon 5</h2>
                <p class="price">R$99,90</p>
            </div>
            <div class="game-card">
                <img src="static/imagens/needforspeed.jpg" alt="Jogo Need For Speed 2" height="255">
                <h2>Need For Speed 2</h2>
                <p class="price">R$119,90</p>
            </div>
            <div class="game-card">
                <img src="static/imagens/gta6.webp" alt="Jogo GTA 6" height="255">
                <h2>GTA 6</h2>
                <p class="price">R$279,90</p>
            </div>
            <div class="game-card">
                <img src="static/imagens/hogwarts.jpg" alt="Jogo Hogwarts Legacy" height="255">
                <h2>Hogwarts Legacy</h2>
                <p class="price">R$49,90</p>
            </div>
            <div class="game-card">
                <img src="static/imagens/hollowknight.jpg" alt="Jogo Hollow Knight" height="255">
                <h2>Hollow Knight</h2>
                <p class="price">R$39,90</p>
            </div>
            <div class="game-card">
                <img src="static/imagens/palword.jpg" alt="Jogo Palword" height="255">
                <h2>Palword</h2>
                <p class="price">R$29,90</p>
            </div>
            <div class="game-card">
                <img src="static/imagens/thesims.jpg" alt="Jogo The Sims 4" height="255">
                <h2>The Sims 4</h2>
                <p class="price">R$69,90</p>
            </div>
            <div class="game-card">
                <img src="static/imagens/valorant.png" alt="Jogo Valorant" height="255">
                <h2>Valorant</h2>
                <p class="price">R$9,90</p>
            </div>
            <div class="game-card">
                <img src="static/imagens/bleach.jpg" alt="Jogo Bleach" height="255">
                <h2>Bleach</h2>
                <p class="price">R$99,90</p>
            </div>
            <div class="game-card">
                <img src="static/imagens/naruto.jpg" alt="Jogo Naruto Storm" height="255">
                <h2>Naruto Storm</h2>
                <p class="price">R$89,90</p>
            </div>
            <div class="game-card">
                <img src="static/imagens/jujutsu.jpg" alt="Jogo Jujutsu Kaisen" height="255">
                <h2>Jujutsu Kaisen</h2>
                <p class="price">R$199,90</p>
            </div>
            <div class="game-card">
                <img src="static/imagens/lol.jpg" alt="Jogo League of Legends" height="255">
                <h2>League of Legends</h2>
                <p class="price">R$0,90</p>
            </div>
            <!-- Adicione mais jogos aqui -->
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Loja de Jogos. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
